<nav class="navbar mb-5 shadow align-items-start">
    <a class="navbar-brand" href="/">
        <img width="500" src="/images/logo.png" />
    </a>
    <div class="p-2">
        <h1>Guide</h1>
        <button class="btn btn-primary bg-darkgoldenrod" title="Karma">
            <i class="bi bi-star">Karma</i>
        </button><p>This is the positive feeling about the post's seller</p>
        <p>A positive karma is not a guarantee or insurance</p>
    </div>
    <div class="p-2" style="width:17%">
        <h1>Changelogs</h1>
        <ul>
            <li>Search bar</li>
            <small>(6/6/2024)</small>
            <li>Karma system</li>
            <small>(6/6/2024)</small>
            <li>Whatsapp links</li>
            <small>(6/7/2024)</small>
        </ul>
    </div>
    <div class="p-2" style="width:20%">
        <h1>Terms of use</h1>
        <p>The website or their publishers are not responsible in any way with the posts published.</p>
        <p>For business contact please send an email to: <a href="mailto:dungeon.dragons@pm.me">dungeon.dragons@pm.me</a></p>
    </div>
</nav>
