<nav class="navbar mb-5 shadow">
    <a class="navbar-brand" href="/">
        <img width="500" src="/images/logo.png" />
    </a>
    <div>
        <h1>Changelogs</h1>
        <ul>
            <li>Search bar</li><small>(6/6/2024)</small>
            <li>Karma system</li><small>(6/6/2024)</small>
            <li>Whatsapp links</li><small>(6/7/2024)</small>
        </ul>
    </div>
</nav>
