@inject NavigationManager _navManager

<div class="jumbotron sticky-top bg-white pb-2 br-10 index-98">
    <h1 class="display-4 text-center">Welcome to Mu market</h1>
    <p class="lead text-center">Find offers from players of Mu Online</p>
    <p class="mt-4">
        <input @onkeydown="SearchForSell"
               @bind="_searchTerm"
               @bind:event="oninput"
               type="text"
               placeholder="Search for an offer..."
               class="form-control form-control-lg sell-search" />
    </p>
</div>

@code {
    private string _searchTerm = "";

    private void SearchForSell(KeyboardEventArgs args)
    {
        if (args.Key != "Enter") return;
        _navManager.NavigateTo($"/search/{_searchTerm}");
    }
}
