@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.drawer-mask {
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.drawer-wrapper.slide > .drawer-mask {
    opacity: .5;
    visibility: visible;
}

.drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    border-left: 0.063em solid gray;
    z-index: 100;
    transform: translateX(110%);
    transition: transform 0.3s ease, width 0.3s ease;
}

.drawer-wrapper.slide > .drawer {
    transform: translateX(0);
}

.drawer-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.trail-details {
    padding: 20px;
}

.drawer-controls {
    background-color: #858585;
}

.fixup-card {
    display: inline-block !important;
    margin: 10px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.navbar {
    margin: 0px;
    padding: 0px;
    justify-content: left;
}

.navbar-brand {
    margin: 0px;
    padding: 0px;
}

.button-slide {
    width: 100%;
    height: 80px;
    border-radius: 0px;
    border-style: none;
    font-weight: bolder;
    font-size: xx-large;
}

.yusei-magic-regular {
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.br-10 {
    border-radius: 10px;
}

.index-98 {
    z-index: 98;
}

.time {
    font-size: 0.8em;
}

.sword {
    background-image: url(/images/sword.png);
    width: 300px;
    height: 600px;
    background-repeat: no-repeat;
    position: fixed;
    bottom: -177px;
    right: 30px;
    background-size: cover;
    background-position: left;
    z-index: 98;
}

.bg-crimson {
    background-color: crimson;
    border-color: crimson;
}

    .bg-crimson:hover {
        background-color: crimson;
        border-color: crimson;
    }

    .bg-crimson:active {
        background-color: crimson;
        border-color: crimson;
    }

    .bg-crimson:focus {
        background-color: crimson;
        border-color: crimson;
    }

    .bg-crimson:visited {
        background-color: crimson;
        border-color: crimson;
    }

.bg-darkgoldenrod {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}

    .bg-darkgoldenrod:hover {
        background-color: darkgoldenrod;
        border-color: darkgoldenrod;
    }

    .bg-darkgoldenrod:active {
        background-color: darkgoldenrod;
        border-color: darkgoldenrod;
    }

    .bg-darkgoldenrod:focus {
        background-color: darkgoldenrod;
        border-color: darkgoldenrod;
    }

    .bg-darkgoldenrod:visited {
        background-color: darkgoldenrod;
        border-color: darkgoldenrod;
    }
